/* Variabler*/
$header-footer-color:#040126;
$font-color1:#040126;
$font-color2: #fffafa;
$font-color3: #ff800b;
$papercut1: #0d056c;
$papercut2: #3b3e9f;
$papercut3: #63a8f1;
$kort1: #9d9ccc;
$kort2: #95c2f4;
$cta: #ff800b;
$bg: #fffafa;
$fontBroedText:"Oxygen-Regular";
$fontHeadings: "AlegreyaSans-Regular";

/*Mixins*/
@mixin btn($width:12.8rem, $height:3.5rem){
    background-color: $cta;
    border-radius:70px;
    color:$bg;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    border: 0;
    font-family: $fontBroedText;

}

/*Til Showcase*/
@mixin border_shadow {
    border: 5px solid $papercut2;
    border-radius: 10px;
    background: rgba(59, 62, 159, 0.70); /*giver et farveoverlay med mindsket opacitet*/
    backdrop-filter: blur(12.5px);
    object-fit: cover;
    filter: drop-shadow((-8px 8px 4px rgba(0, 0, 0, 0.25)));
}

@mixin sc_con1 ($width:17.2rem, $height:12.8rem){
    object-fit: cover;
    border-radius: 10px;
    margin: 2rem 0.5em;
    width: $width;
    height: $height;
}
@mixin sc_text ($width:17.2rem, $height:12.8rem, $padding-top:5.1rem) {
    width: $width;
    height: $height;
    padding-top: $padding-top;
    text-align: center;
}

@mixin sc_a ($padding: 5rem 4.5rem 5rem 4.5rem) {
    text-decoration: none;
    color: $font-color3;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: $fontBroedText;
    padding: $padding;
}

@mixin sc_hover {
    background-color: $papercut2;
    color: $bg;
    transition: 0.3s ease-in-out;
}
/*---------mixin til Showcase til @media screen and (min-width: 1201px)-------*/
@mixin sc_con_m ($width:26.8rem, $height:20rem){
    object-fit: cover;
    border-radius: 10px;
    margin: 2rem 0.5em;
    width: $width;
    height: $height;
}
@mixin sc_text_m ($width:26.8rem, $height:20rem, $paddingtop:8rem){
    height: $width;
    width: $height;
    padding-top: $paddingtop;
    text-align: center;
}
@mixin sc_a_m ($padding: 5rem 4.5rem 5rem 4.5rem) {
    text-decoration: none;
    color: $font-color3;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: $fontBroedText;
    padding: $padding;
}