@use 'partial';

@font-face {
  font-family: "alegreya sans";
  src: url("../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "oxygen";
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*.......Header- navigations bar...... */

header {
  position: sticky;
  top: 0;
  height: 95px;
  z-index: 100000;
}


.mobile-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  background-color: partial.$header-footer-color;
  width: 100%;


  img, a {

    margin: 0 auto;
    padding: 10px;
  }

  .icons {
    margin-top: 25px;
  }

  .bars {
    display: none;
    cursor: pointer;
  }
}

/*...........Header ending.........*/


/*........footer navigation .......*/

.desktop-nav-footer {
  display: none;
}

.mobile-nav-footer {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  height: 110px;
  background-color: partial.$header-footer-color;
  color: partial.$font-color2;
  bottom: 0;


  img {
    height: 38px;
    margin: 10px;
  }

  aside:first-of-type {
    justify-self: left;
    margin-left: 15px;
  }

  aside:last-of-type {
    justify-self: right;
    margin-right: 15px;
  }

  a {
    @include partial.a-hover;
  }

  p {
    font-size: 18pt;
    padding-left: 10px;
    font-family: partial.$fontBroedText;
  }

}


/*........footer navigation ending .......*/


/*..........Styling for homepage...*/

.body-forside {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: partial.$bg;

}


/*logo animation section*/

.logo-animation-section {
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, #040126, #3B3E9F, #63A8F1, #FFFFFF);
  font-family: partial.$fontHeadings;

  img, #mds-heading, #slogan {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  img {
    padding-top: 100px;
  }

  #mds-heading {
    font-size: 28px;
    font-family: partial.$fontHeadings;
    color: partial.$font-color3;
    font-weight: bold;
  }

  #slogan {
    font-size: 24px;
    color: partial.$font-color2;
  }

  //.gif-mobile {
  //  display: none;
  //}

}

/* video-papercut section*/

.video-papercut-section {
  display: grid;
  grid-template-rows: auto auto auto auto auto;

}

#papercut-right {
  justify-self: right;
  max-height: 400px;
}

#hvem-er-vi {
  @include partial.headings-mobile;
  padding: 10px;
}

#papercut-left {
  justify-self: left;
  max-height: 400px;
}

#peafowl {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding-top: 30px;
  height: 200px;


}

.mds-working-companion{

  h3{
    @include partial.headings-mobile;
    margin: 100px 15px 10px 15px;
  }
  p{
    @include partial.p-mobile-style;
    padding: 20px 15px 10px 15px;

    a{
      @include partial.a-hover;
    }
  }
}

video {
  aspect-ratio: 1.77777777778; /* 1920x1080 = 16:9 format */
  width: 80%;
  max-width: 1920px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  border: black 2px solid;
}

/* principles  section*/

.offer-boxes-section {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
  margin: 0 10px 0 10px;


  .purple {
    background-color: rgb(59, 62, 159, 0.5);
  }

  .blue {
    background-color: rgb(149, 194, 244);

  }

  #offer-heading {
    @include partial.headings-mobile;
  }

}

.offer-box {
  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 5px;
  max-width: 400px;
  width: auto;
  height: auto;
  margin: 0 auto;
  border-radius: 15px;
  color: partial.$font-color1;

  img {
    height: 70px;
    padding: 10px;
    grid-column: 1;
    align-self: center;

  }


  p {
    grid-column: 2;
    font-size: 22pt;
    margin: 0 auto;
    padding-top: 26px;
    font-family: partial.$fontHeadings;
  }

  .offer-text {
    grid-column: 1 / span 3;
    text-align: left;
    padding: 0 25px 10px 25px;
    font-size: 16pt;
    font-family: partial.$fontBroedText;
    line-height: 1.1;
  }
}

/* animated boxes and papercut in the bottom*/
.mds-animation {

  img:first-of-type {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-height: 250px;

  }

  img:last-of-type {
    float: right;
    max-height: 400px;
  }

}


/*.......Styling for homepage ending......*/


/*........Styling for Service page........*/

.services-body {
  background-color: partial.$font-color2;

}

#services-heading {
  @include partial.headings-mobile;
  margin: 70px 15px 30px 15px;
}

.service-text {
  @include partial.p-mobile-style;
  padding: 10px 20px 70px 20px;
}

.services-boxes {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  margin: 0 auto;
  padding: 10px;

  #konsultation-box, #junior-box, #premium-box, #pro-service-box {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 3fr;
    border: 1px solid partial.$header-footer-color;
    border-radius: 10px;
    margin: 0 auto;
    height: 550px;

    p:first-of-type {
      font-size: 20pt;
      justify-self: center;
      font-family: partial.$fontHeadings;
      padding-top: 10px;
    }

    P {
      font-size: 18px;
      font-family: partial.$fontBroedText;
      margin: 10px;
      line-height: 1.5;
    }

    a {
      @include partial.a-hover;
      @include partial.btn($width: 10rem, $height: 3rem);
      margin: 10px auto 20px auto;
      grid-row: 5;
    }

    #konsultation-box {
      height: 500px;
      background-color: partial.$font-color2;
    }


  }

  #junior-box {
    background-color: partial.$kort2;
    border: none;

    p:nth-child(3n+3) {
      text-align: center;
    }

    p:last-of-type {
      justify-self: center;
    }
  }

  #premium-box {
    background-color: partial.$papercut3;
    border: none;

    p:nth-child(3n+3) {
      text-align: center;
    }

    p:last-of-type {
      justify-self: center;
      padding-top: 30px;
    }
  }

  #pro-service-box {
    background-color: partial.$papercut2;
    border: none;
    color: partial.$font-color2;

    p:nth-child(3n+3) {
      text-align: center;
    }

    p:last-of-type {
      justify-self: center;
      padding-top: 30px;
    }
  }

}

.process-guide-section {
  background: linear-gradient(#fffafa, #3B3E9F, #0d056c);
  box-shadow: 0 4px 10px #fffafa;

  .process-guide-text {
    h2 {
      @include partial.headings-mobile($font-size: 1.5rem);
      padding: 70px 15px 30px 15px;
    }

    p {
      @include partial.p-mobile-style;
      padding: 5px 15px 5px 15px;
      text-align: left;

    }
  }
}

#mds-proces-guide {
  display: grid;
  margin: 0 auto;
  padding: 100px 0 70px 0;
  height: 800px;
}


/*...Styling for Service page ending....*/


/*.......styling for booking page......*/

.kontaktformular {
  padding-top: 100px;
  padding-bottom: 50px;


  h1 {
    @include partial.headings-mobile;
    padding: 30px 20px 30px 50px;
  }
  .booking-text{
    @include partial.p-mobile-style;
    padding: 0 15px 30px 15px;
  }
}

.kontaktform {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: partial.$kort2;
  width: 290px;
  height: 500px;
  margin: 0 auto;
  border-radius: 30px;
  font-family: partial.$fontBroedText;
  font-size: 16pt;
  box-shadow: 0 4px 8px #2c3e50;

  input, textarea, select {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  p {
    margin: 10px 0 5px 35px;
  }

  input, select {
    padding: 4px;
    border-radius: 10px;
    width: 224px;
    height: 30px;
    border: 1px solid partial.$font-color1;
    background-color: partial.$bg;
    font-family: partial.$fontHeadings;
    font-size: 14pt;
  }

  textarea {
    max-width: 224px;
    min-width: 224px;
    max-height: 52px;
    min-height: 52px;
    border-radius: 10px;
    font-family: partial.$fontBroedText;
    padding: 5px;
    font-size: 12pt;

  }

  #book-button {
    @include partial.btn($width: 130px, $height: 40px);
    @include partial.a-hover;
    box-shadow: 0 4px 8px #2c3e50;
   margin-top: 10px;
  }

}

.contact-booking {
  display: grid;
  justify-content: center;
  align-content: center;
  margin: 0 auto;


  aside {
    padding: 10px;
  }

  a {
    text-decoration: none;
    padding: 10px;
    font-family: partial.$fontBroedText;
    font-size: 16pt;
    color: partial.$font-color1;
  }

  img:nth-of-type(2) {
    height: auto;
  }

  img {
    margin-right: 20px;
    height: 40px;
  }
}

#papercut-booking {
  float: right;
  height: 500px;
}


/*...styling for booking page ending......*/


/* media query for mobile version */
/* for header*/
@media screen and (max-width: 1200px) {
  .desktop-nav {
    display: none;
  }
  /* styling for burgermenu when toggled*/
  .toggleShow {
    display: flex;
    padding: 10px;
    background-color: partial.$font-color3;


    input {
      border-radius: 50px;
      height: 25px;
      width: 150px;
      padding: 15px;
      background-color: transparent;
      color: partial.$font-color2;
      font-size: 22px;
      font-family: partial.$fontHeadings;
      border: 2px solid partial.$font-color2;
      margin: 10px;

    }

    ul {
      list-style: none;
    }

    a {
      color: partial.$font-color2;
      font-family: partial.$fontHeadings;
      font-size: 20pt;
      padding: 10px;
      line-height: 1.5;
    }

  }
  .services-boxes {
    width: 300px;
  }
  .mobile-nav {
    .bars {
      display: flex;
    }
  }

}

/*.....media query for desktop version.....*/
@media screen and (min-width: 1201px) {
  .desktop-nav {

    ul {
      display: grid;
      grid-template-columns: 1fr auto auto auto auto auto;
      background-color: partial.$header-footer-color;
      font-family: partial.$fontBroedText;
      gap: 20px;
      width: 100%;
    }

    img {
      padding: 15px;
    }

    .nav {
      list-style: none;
      padding-top: 65px;

    }

    a {
      text-decoration: none;
      color: partial.$font-color2;
      font-size: 22pt;
      @include partial.a-hover;
    }

    input {
      border-radius: 50px;
      height: 25px;
      width: 200px;
      padding: 15px;
      background-color: transparent;
      color: partial.$font-color2;
      font-size: 22px;
      font-family: partial.$fontHeadings;
      border: 2px solid partial.$font-color2;
      margin: 65px 15px 0 15px;

    }

  }

  header {
    height: 109px;
  }

  .mobile-nav {
    display: none;
  }
  /* header ends*/

  /* main homepage*/

  .logo-animation-section {
    height: 700px;

    #mds-heading {
      font-size: 44pt;
    }

    #slogan {
      font-size: 38pt;
    }
  }
  #papercut-right {
    max-height: none;
  }
  #papercut-left {
    max-height: none
  }

  #hvem-er-vi {
    @include partial.headings-desktop;
  }
  video {
    width: 60%;
  }
  #peafowl {
    height: auto;
  }

  /*principles homepage*/


  .offer-boxes-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;


    .offer-box {
      width: 500px;
      height: 300px;
    }

    #offer-heading {
      grid-row: 1;
      grid-column: 2 / 4;
      padding-bottom: 20px;
   @include partial.headings-desktop

    }

    .box1 {
      grid-row: 2;
      grid-column: 2;
    }

    .box2 {
      grid-row: 2;
      grid-column: 3;
    }

    .box3 {
      grid-row: 3;
      grid-column: 3;
    }

    .box4 {
      grid-row: 3;
      grid-column: 2;
    }

    p {
      font-size: 28pt;
      padding-top: 35px;
    }

    .offer-text {
      font-size: 22pt;
    }

    img {
      height: 85px;
    }
  }
  .mds-animation {
    img:first-of-type {
      max-height: none;
    }

  }

  .mds-working-companion {
    h3 {
      @include partial.headings-desktop;
      padding-top: 70px;
    }

    p {
      @include partial.p-desktop-style;
    }

  }

  /*footer for desktop*/

  .mobile-nav-footer {
    display: none;
  }

  .desktop-nav-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    background-color: partial.$header-footer-color;
    bottom: 0;
    color: partial.$font-color2;

    p, a {
      font-family: partial.$fontHeadings;
      font-size: 20pt;
      color: partial.$font-color2;

    }

    a {
      @include partial.a-hover;
    }


    #first-section {
      display: grid;
      grid-template-rows: 1fr 1fr;
      margin: 15px;

      p {
        padding-left: 15px;

      }

      img {
        padding: 10px 0 5px 15px;
      }
    }

    #second-section {
      display: grid;
      grid-template-rows:repeat(4, 1fr);
      margin: 10px;
      justify-self: center;


      img {
        padding-right: 15px;
      }
    }

    #third-section {
      justify-self: right;
      margin: 15px;

      p {
        padding: 10px;
        line-height: 1.5;
      }
    }

  }
  @media screen and (min-width: 1201px) {
    /*.....styling for services desktop.....*/
    #services-heading {
      @include partial.headings-desktop;
    }
    .service-text {
      @include partial.p-desktop-style;
    }
    .services-boxes {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 0 auto;
      gap: 100px;
      width: 90%;
      max-width: 1300px;
      overflow: hidden;

      #konsultation-box, #junior-box, #premium-box, #pro-service-box {
        height: 700px;

        p:first-of-type {
          font-size: 40px;
        }

        p {
          font-size: 20pt;
        }
      }
    }

    #mds-proces-guide {
      padding: 200px 0 200px 0;
      height: 1800px;

    }
    .h2-service-page{
          @include partial.headings-desktop;
          margin: 0 auto;
        }

      .process-guide-text {
        p {
          @include partial.p-desktop-style;
        }
      }
    }
  }

@media screen and (min-width: 1201px) {
  /*.....styling for booking page desktop....*/

  .kontaktformular {
    padding-top: 100px;
    padding-bottom: 50px;


    h1 {
      @include partial.headings-desktop;

    }
    .booking-text{
      @include partial.p-desktop-style;
    }
  }
  .kontaktform {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 874px;
    height: 892px;
    font-size: 20pt;

    p {
      margin: 50px 0 10px 60px;
    }

    input, select {
      padding: 7px;
      width: 326px;
      height: 70px;
      font-size: 16pt;
    }

    textarea {
      max-width: 760px;
      min-width: 760px;
      max-height: 218px;
      min-height: 218px;
      font-size: 16pt;
      font-family: partial.$fontBroedText;
      padding: 5px;

    }

    .column-span-4 {
      grid-column: span 2;
    }

    #book-button {
      @include partial.btn();
      display: grid;
      grid-area: center;
    }

  }
  .contact-booking {
    a {
      font-size: 30pt;
      padding-right: 70px;
    }
  }
}
/*.....styling for homepage desktop ending.....*/


/*--------------------------------------Showcase-------------------------------------------*/

/*bg og styling af tekst*/
.sc_body {
  background-color: partial.$bg;

  .sc_BG {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-bottom: 5rem;
    margin-top: 3.5rem;

    h1, h2, .p {
      margin: 0.5rem auto;
      padding: 0.2rem 0.2rem;
      color: partial.$font-color1;
    }

    h1 {
      font-size: 2.75rem;
      font-family: partial.$fontHeadings;
      text-align: center;
      margin-top: 2rem;
      width: 70%;
    }

    h2 {
      font-family: partial.$fontHeadings;
      font-size: 2rem;
      text-align: center;
      margin-top: 2rem;
      width: 70%;
    }

    .p {
      font-size: 1rem;
      font-family: partial.$fontBroedText;
      line-height: 1.5rem;
      text-align: left;
      width: 60%;
    }
  }

}

/*Styling af billed/navigations delen af siden*/
.sc_nav {
  margin: 1.5rem auto;

  .container_1, .container_2, .container_3, .container_4, .container_5, .container_6, .container_7 {
    @include partial.sc_con1;
    background-position: center;

    .sc_text {
      @include partial.sc_text;
      @include partial.border_shadow;

      a {
        @include partial.sc_a;
      }

      &:hover {
        @include partial.sc_hover;
      }
    }
  }

  .container_1 {
    background-image: url(/img/sc_hjemmeside.png);
  }

  .container_2 {
    background-image: url(/img/sc_logo.png);
  }

  .container_3 {
    background-image: url(/img/sc_poster.png);
    height: 27.9rem;

    .sc_text {
      height: 27.9rem;
      padding-top: 12.7rem;

      a {
        padding: 12.4rem 5rem 12.4rem 5rem;
      }
    }

  }

  .container_4 {
    background-image: url(/img/sc_animationer.png)
  }

  .container_5 {
    background-image: url(/img/sc_maskotter.png)
  }

  .container_6 {
    background-image: url(/img/sc_videoer.png)
  }

  .container_7 {
    background-image: url(/img/sc_branding.png);
    height: 2.8rem;

    .sc_text {
      height: 2.8rem;
      padding-top: 0.2rem;

      a {
        padding: 0.2rem 4.5rem 0.2rem 4.5rem;
      }
    }
  }
}

/*-------------------------------Testimonials-------------------------------*/

.testimonial {
  margin: 1rem auto 2rem auto;

  article {
    height: 22rem;
    width: 17.2rem;
    border: 5px solid partial.$papercut2;
    border-radius: 10px;
    padding: 1rem;
    margin: 1.5rem auto;
    background-color: partial.$bg;
    filter: drop-shadow((-8px 8px 4px rgba(0, 0, 0, 0.25)));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      width: 80%;
      font-family: partial.$fontBroedText;
      color: partial.$font-color1;
      font-size: 1rem;
      text-align: left;
      line-height: 1.5rem;
    }

    p:nth-of-type(2) {
      font-weight: bold;
    }
  }
}

/*------------------------------------------Showcase media-----------------------------------*/
@media screen and (min-width: 700px) and (max-width: 1500px) {
  .sc_body {
    .sc_BG {
      justify-content: center;
      align-content: center;

      h1 {
        font-size: 3.8rem;

      }

      h2 {
        font-size: 2.5rem;
      }

      .p {
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 50%;
      }

      /*------billedenavigationen-----*/
      .sc_nav {
        margin: 0.5rem 0.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
        gap: 0.5rem;

        .container_1, .container_2, .container_4, .container_5, .container_6 {
          @include partial.sc_con_s;
          background-position: center;
        }

        .container_1 {
          grid-column: 2;
          grid-row: 1;

        }

        .container_2 {
          grid-column: 2;
          grid-row: 2;

        }

        .container_3 {
          @include partial.sc_con_s;
          grid-column: 3;
          grid-row: 1/3;
          height: 27.9rem;
        }

        .container_4 {
          grid-column: 2;
          grid-row: 3;
        }

        .container_5 {
          grid-column: 3;
          grid-row: 3;
        }

        .container_6 {
          grid-column: 2/4;
          grid-row: 4;
          width: 35.8rem;

          .sc_text {
            width: 35.8rem;

            a {
              padding: 5rem 14rem 5rem 14rem;
            }
          }
        }

        .container_7 {
          grid-column: 2/4;
          grid-row: 5;
          @include partial.sc_con_s;
          height: 4rem;
          width: 35.8rem;

          .sc_text {
            height: 4rem;
            width: 35.8rem;
            padding-top: 0.6rem;

            a {
              padding: 0.2rem 14rem 0.2rem 14rem;
            }
          }
        }
      }
    }
  }
  /*-----------------testimonials--------------------*/
  .testimonial {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    .ts_1 {
      grid-column: 2;
      grid-row: 1;
    }

    .ts_2 {
      grid-column: 3;
      grid-row: 1;
    }

    .ts_3 {
      grid-column: 2;
      grid-row: 2;
    }

    .ts_4 {
      grid-column: 3;
      grid-row: 2;
    }

    article {
      height: 32rem;
      margin: auto auto;

      p {
        font-size: 1.5rem;
      }
    }
  }
}


/*------------------Fra 1501px---------------------------*/
@media screen and (min-width: 1501px) {
  .sc_body {
    .sc_BG {
      justify-content: center;
      align-content: center;

      h1 {
        font-size: 4rem;
        width: 80%;
      }

      h2 {
        font-size: 3rem;
      }

      .p {
        font-size: 1.5rem;
        line-height: 2rem;
        width: 50%;
      }


      /*------billedenavigationen-----*/
      .sc_nav {
        margin: 4rem 0.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
        gap: 1.5rem;

        .container_1, .container_2, .container_4, .container_5, .container_6 {
          @include partial.sc_con_m;
          background-position: center;

          .sc_text {
            @include partial.sc_text_m;

            a {
              @include partial.sc_a_m;
            }
          }
        }

        .container_1 {
          grid-column: 2;
          grid-row: 1;

        }

        .container_2 {
          grid-column: 2;
          grid-row: 2;

        }

        .container_3 {
          grid-column: 3;
          grid-row: 1/3;
          @include partial.sc_con_m;
          background-position: center;
          height: 42.5rem;
          width: 26.8rem;

          .sc_text {
            @include partial.sc_text_m;
            height: 42.5rem;
            width: 26.8rem;
            padding-top: 20rem;

            a {
              @include partial.sc_a_m;
              padding: 20rem 9rem;
            }
          }
        }

        .container_4 {
          grid-column: 2;
          grid-row: 3;

        }

        .container_5 {
          grid-column: 3;
          grid-row: 3;

        }

        .container_6 {
          grid-column: 2/4;
          grid-row: 4;
          height: 20rem;
          width: 57rem;

          .sc_text {
            @include partial.sc_text_m;
            height: 20rem;
            width: 57rem;

            a {
              @include partial.sc_a_m;
              padding: 7rem 23rem;
            }
          }
        }

        .container_7 {
          grid-column: 2/4;
          grid-row: 5;
          @include partial.sc_con_m;
          background-position: center;
          height: 7.1rem;
          width: 57rem;

          .sc_text {
            @include partial.sc_text_m;
            height: 7.1rem;
            width: 57rem;
            padding-top: 1.5rem;

            a {
              @include partial.sc_a_m;
              padding: 2rem 23rem;
            }
          }
        }
      }

      .testimonial {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 1.5rem;

        .ts_1 {
          grid-column: 2;
          grid-row: 1;
        }

        .ts_2 {
          grid-column: 3;
          grid-row: 1;
        }

        .ts_3 {
          grid-column: 2;
          grid-row: 2;
        }

        .ts_4 {
          grid-column: 3;
          grid-row: 2;
        }

        article {
          height: 27rem;
          width: 26.8rem;
          margin: 0.7rem 0.5rem;

          p {
            font-size: 1.5rem;
            padding-top: 0.5rem;
            line-height: 2rem;
          }
        }
      }
    }
  }
}


/*........Styling for Moedos-page........*/
/* Moedos-siden starter*/


.overskriftmoedos-side h1 {
  font-size: 2.75rem;
  font-family: partial.$fontHeadings;
  color: partial.$font-color1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.overskriftmoedos-side p {
  font-size: 1rem;
  font-family: partial.$fontBroedText;
  color: partial.$font-color1;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 15%;
  width: 75%;
  margin-bottom: 2.5%;
  margin-top: 1%;

}


.teamkorttekst h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-family: partial.$fontHeadings;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin-left: 15%;
}

.teamkorttekst p {
  font-family: partial.$fontBroedText;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  font-size: 16px;
  text-align: center;
  margin-left: 15%;
}

/* Bold animation starter */

.baggrunds-bold{
  width: 60px;
  height: 60px;
  background: url(../img/MDS/BOLD.svg);
  border-radius: 50%;
  position: absolute;
  animation: moveBall 20s linear infinite;
}

@keyframes moveBall {
  0%{
    transform: translateX(0) translateY(0);
  }


  25%{
    transform: translateX(300px) translateY(200px);
  }

 35%{
  transform: translateX(0) translateY(500px);
 }

 50%{
  transform: translateX(350px) translateY(600px);
 }

65%{
  transform: translateX(0) translateY(800px);
 }

75%{
  transform: translateX(0px) translateY(1200px);
 }

100%{
  transform: translateX(1200px) translateY(-700);
 }

 /* Bold animation slutter */


}

 .kort-indholdrikke {
   .kort-indholdrikke {
     @include partial.place_itemmoedos;
   }

   .kort-indholdvictoria {
     @include partial.place_itemmoedos;
   }

   .kort-indholdnanna {
     @include partial.place_itemmoedos;
   }

   .kort-indholdmathilde {
     @include partial.place_itemmoedos;
   }

   .team-kort {
     @include partial.team_kort;
   }

   .teamkortbillede {
     @include partial.img_placing;
   }

   .teamkortbillede img {
     @include partial.img_box;
   }

   /*........MEDIA til Moedos-page........*/
   @media screen and (min-width: 700px) {

     .mo {
       width: 100%;
       height: auto;
     }


     .overskriftmoedos-side h1 {
       font-size: 3.8rem;
     }

     .grid-containerkort {
       display: grid;
       grid-template-rows: repeat(2, 1fr);
       grid-template-columns: repeat(2, 1fr);
       gap: 5px;
       padding-left: 8%;
       padding-right: 8%;
     }

     .kort-indholdrikke {
       width: 100%;
       grid-row: 1;
       grid-column: 1;

     }

     .kort-indholdvictoria {
       width: 100%;
       grid-row: 1;
       grid-column: 2;

     }

     .kort-indholdnanna {
       width: 100%;
       grid-row: 2;
       grid-column: 1;
     }

     .kort-indholdmathilde {
       width: 100%;
       grid-row: 2;
       grid-column: 2;
     }
     /* Bold animation Media */

     @keyframes moveBall {
       0% {
         transform: translateX(0) translateY(0);
       }


       25% {
         transform: translateX(900px) translateY(400px);
       }

       35% {
         transform: translateX(0) translateY(600px);
       }

       50% {
         transform: translateX(0) translateY(800px);
       }

       65% {
         transform: translateX(800px) translateY(0);
       }

       75% {
         transform: translateX(0px) translateY(-400px);
       }

       100% {
         transform: translateX(1200) translateY(-1200);
       }

     }
     /* Bold animation media slutter */

     .teamkorttekst h3 {
       font-size: 1.5rem;
     }

     .teamkorttekst p {
       font-size: 1rem;
     }
   }
 }

/*.......Moedos-page og Media ends........*/
