@use 'partial';

@font-face {
  font-family: "alegreya sans";
  src: url("../fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf");
}

@font-face {
  font-family: "oxygen";
  src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*.......Header- navigations bar...... */

header {
  position: sticky;
  top: 0;
  height: 95px;
}


.mobile-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


  background-color: partial.$header-footer-color;
  width: 100%;


  img {

    margin: 0 auto;
    padding: 10px;
  }

  .icons {
    margin-top: 25px;
  }
}

/*...........Header ending.........*/

/*..........Styling for forsiden...*/

.body-forside {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  background-color: partial.$bg;
}

/*logo animation section*/

.logo-animation-section {
  width: 100%;
  height: 500px;
  background: linear-gradient(to bottom, #040126, #3B3E9F, #63A8F1, #FFFFFF);

  img, #mds-heading, #slogan {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }

  img {
    padding-top: 100px;
  }

  #mds-heading {
    font-size: 28px;
    font-family: partial.$fontHeadings;
    color: partial.$font-color3;
    font-weight: bold;
  }

  #slogan {
    font-size: 24px;
    color: partial.$font-color2;
  }

}

/* video-papercut section*/

.video-papercut-section {
  display: grid;
  grid-template-rows: auto auto auto auto auto;

}
   #papercut-right {
    justify-self: right;
  }

   #hvem-er-vi {
     font-size:24pt;
     color: partial.$font-color1;
     margin: 0 auto;
     padding: 10px;
   }

  #papercut-left {
    justify-self: left;
  }
  #peafowl {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    padding-top: 30px;


  }


video {
  aspect-ratio: 1.77777777778; /* 1920x1080 = 16:9 format */
  width: 80%;
  max-width: 1920px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  border: black 2px solid;
}



/*.......Styling for forsiden slutter......*/


/* media query for desktop version */

/* for header*/
@media screen and (max-width: 1200px) {
  .desktop-nav {
    display: none;
  }

}

@media screen and (min-width: 1201px) {
  .desktop-nav {

    ul {
      display: grid;
      grid-template-columns: 1fr auto auto auto auto auto;
      background-color: partial.$header-footer-color;
      gap: 20px;
      width: 100%;
    }

    img {
      padding: 15px;
    }

    .nav {
      list-style: none;
      padding-top: 65px;

    }

    a {
      text-decoration: none;
      color: partial.$font-color2;
      font-size: 22pt;
    }

    input {
      border-radius: 50px;
      height: 25px;
      width: 200px;
      padding: 15px;
      background-color: transparent;
      color: partial.$font-color2;
      font-size: 22px;
      font-family: partial.$fontHeadings;
      border: 2px solid partial.$font-color2;
      margin: 65px 15px 0 15px;

    }

  }


  header {
    height: 109px;
  }

  .mobile-nav {
    display: none;
  }

  .logo-animation-section {

  #mds-heading {
font-size: 44pt;
  }

    #slogan {
      font-size: 38pt;
    }
  }

  #hvem-er-vi {
    font-size: 44pt;
  }

}




/* header ends*/


/*-------------Showcase--------------------*/

.sc_BG {
  background-color: partial.$bg;
  display: grid;
  justify-content: center;
  align-content: center;
}

.sc_nav {
  .container_1, .container_2, .container_3, .container_4, .container_5, .container_6, .container_7 {
    @include partial.sc_con1;
    background-position: center;
  }

  .container_1 {
    background-image: url(/img/sc_hjemmeside.png);
  }

  .container_2 {
    background-image: url(/img/sc_logo.png);
  }

  .container_3 {
    background-image: url(/img/sc_poster.png);
    height: 27.9rem;

    .sc_text {
      height: 27.9rem;
      padding-top: 12.4rem;
    }
  }

  .container_4 {
    background-image: url(/img/sc_animationer.png)
  }

  .container_5 {
    background-image: url(/img/sc_maskotter.png)
  }

  .container_6 {
    background-image: url(/img/sc_videoer.png)
  }

  .container_7 {
    /*find måske img til branding, eller så find ud af hvorfor background color ikke virker*/
  }

  .sc_text {
    @include partial.sc_text;
    @include partial.border_shadow;


    a {
      @include partial.sc_a;
    }

    &:hover {
      @include partial.sc_hover;
    }
  }


}




